C 0 0 "SYNC" 0 0 0 0 60 0 L
X "PIN_TEXT" "SYNC" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VCC" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VCC" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "BST" 0 -200 0 0 60 0 L
X "PIN_TEXT" "BST" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VIN_1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VIN_1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "GND_1" 0 -400 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "SW_1" 0 -500 0 0 60 0 L
X "PIN_TEXT" "SW_1" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "SW_2" 0 -600 0 0 60 0 L
X "PIN_TEXT" "SW_2" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "LDR_1" 0 -700 0 0 60 0 L
X "PIN_TEXT" "LDR_1" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "LDR_2" 0 -800 0 0 60 0 L
X "PIN_TEXT" "LDR_2" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "GND_2" 0 -900 0 0 60 0 L
X "PIN_TEXT" "GND_2" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "VIN_2" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "VIN_2" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 1200 0 "SFB" 1200 0 0 0 60 0 R
X "PIN_TEXT" "SFB" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 1200 -100 "SWEN" 1200 -100 0 0 60 0 R
X "PIN_TEXT" "SWEN" 970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -100 1200 -100 -1 0
C 1200 -200 "VDDIO" 1200 -200 0 0 60 0 R
X "PIN_TEXT" "VDDIO" 970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -200 1200 -200 -1 0
C 1200 -300 "CS*" 1200 -300 0 0 60 0 R
X "PIN_TEXT" "CS*" 970 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -300 1200 -300 -1 0
C 1200 -400 "SCK" 1200 -400 0 0 60 0 R
X "PIN_TEXT" "SCK" 970 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -400 1200 -400 -1 0
C 1200 -500 "MOSI" 1200 -500 0 0 60 0 R
X "PIN_TEXT" "MOSI" 970 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -500 1200 -500 -1 0
C 1200 -600 "MISO" 1200 -600 0 0 60 0 R
X "PIN_TEXT" "MISO" 970 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -600 1200 -600 -1 0
C 1200 -700 "EN" 1200 -700 0 0 60 0 R
X "PIN_TEXT" "EN" 970 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -700 1200 -700 -1 0
C 1200 -800 "AOUT" 1200 -800 0 0 60 0 R
X "PIN_TEXT" "AOUT" 970 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -800 1200 -800 -1 0
C 1200 -900 "GND_3" 1200 -900 0 0 60 0 R
X "PIN_TEXT" "GND_3" 970 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -900 1200 -900 -1 0
C 1200 -1000 "GND_4" 1200 -1000 0 0 60 0 R
X "PIN_TEXT" "GND_4" 970 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -1000 1200 -1000 -1 0
L 200 100 1000 100 -1 0
L 1000 -1100 1000 100 -1 0
L 1000 -1100 200 -1100 -1 0
L 200 100 200 -1100 -1 0
P "$LOCATION" "?" 1050 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

