C 400 600 "COM" 400 600 0 0 60 0 R
X "PIN_TEXT" "COM" 430 370 90 0.00 60 0 0 2 0 0 1 0 74
L 400 400 400 600 -1 0
C 500 600 "NO" 500 600 0 0 60 0 R
X "PIN_TEXT" "NO" 530 370 90 0.00 60 0 0 2 0 0 1 0 74
L 500 400 500 600 -1 0
C 400 -900 "CHANNEL_A" 400 -900 0 0 60 0 L
X "PIN_TEXT" "CHANNEL_A" 430 -670 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -700 400 -900 -1 0
C 600 -900 "CHANNEL_B" 600 -900 0 0 60 0 L
X "PIN_TEXT" "CHANNEL_B" 630 -670 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -700 600 -900 -1 0
C 500 -900 "COMMON" 500 -900 0 0 60 0 L
X "PIN_TEXT" "COMMON" 530 -670 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -700 500 -900 -1 0
C 0 0 "MH1" 0 0 0 0 60 0 L
X "PIN_TEXT" "MH1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 1000 0 "MH2" 1000 0 0 0 60 0 R
X "PIN_TEXT" "MH2" 770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 800 0 1000 0 -1 0
L 200 400 800 400 -1 0
L 800 -700 800 400 -1 0
L 800 -700 200 -700 -1 0
L 200 400 200 -700 -1 0
P "$LOCATION" "?" 850 570 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

